<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goTo()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Crear Tarea</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Título</ion-label>
      <ion-input [(ngModel)]="form.titulo" name="titulo" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-textarea [(ngModel)]="form.descripcion" name="descripcion"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Fecha Límite</ion-label>
      <ion-datetime
        [(ngModel)]="form.fechaLimite"
        name="fechaLimite"
        presentation="date"
        required
      ></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Caso</ion-label>
      <ion-select [(ngModel)]="form.casoId" name="casoId" required>
        <ion-select-option *ngFor="let caso of casos" [value]="caso._id">
          {{ caso.numeroCaso }} - {{ caso.nombre }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="block" type="submit">Crear Tarea</ion-button>
  </form>
</ion-content>
