<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (submit)="onLogin()">
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input [(ngModel)]="credentials.username" name="username" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [(ngModel)]="credentials.password" name="password" type="password" required></ion-input>
    </ion-item>
    <ion-button expand="block" type="submit">Ingresar</ion-button>
  </form>

  <ion-button expand="block" color="secondary" (click)="viewCasesWithTasks()">
    Ver Casos y Tareas
  </ion-button>
</ion-content>
