<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]="true" class="ion-padding">
  <div class="content-container">
    <ion-card class="card"> 
      <ion-card-content>
        <ion-img src="assets/logo.png" alt="Logo" class="logo"></ion-img>
        <form (submit)="onLogin()" class="ion-margin">
          <ion-list>
            <ion-item>
              <ion-thumbnail slot="start" class="icon-thumbnail">
                <ion-icon name="person" class="custom-icon" color="primary"></ion-icon>
              </ion-thumbnail>
              <ion-input
                [(ngModel)]="credentials.username" 
                name="username"
                label-placement="floating" 
                fill="outline" 
                label="Nombre de usuario" 
                placeholder="Escriba su nombre de usuario"
                required
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-thumbnail slot="start" class="icon-thumbnail">
                <ion-icon name="key" class="custom-icon" color="primary"></ion-icon>
              </ion-thumbnail>
              <ion-input
                [(ngModel)]="credentials.password"
                name="password" 
                type="password" 
                label-placement="floating" 
                fill="outline" 
                label="Contraseña"
                placeholder="Escriba su contraseña"
                required
              ></ion-input>
            </ion-item>
          </ion-list>
          <div class="ion-margin-top">
            <ion-button 
              expand="block" 
              type="submit" 
              shape="round"
              class="ion-margin-bottom">
              <ion-icon name="log-in-outline" slot="start"></ion-icon>
              Ingresar
            </ion-button>
          </div>
        </form>
          <div class="ion-margin-top">
            <ion-button 
              expand="block" 
              type="submit"  
              shape="round"
              (click)="viewCasesWithTasks()"
              class="ion-margin-bottom">
              <ion-icon name="list-outline" slot="start"></ion-icon>
              Ver Casos y Tareas
            </ion-button>
          </div>
        
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>