<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goTo()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Editar Caso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (submit)="onSubmit()">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Nombre del Cliente</ion-label>
        <ion-input [(ngModel)]="form.nombreCliente" name="nombreCliente" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Tipo de Caso</ion-label>
        <ion-input [(ngModel)]="form.tipo" name="tipo" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Fecha de Inicio</ion-label>
        <ion-datetime [(ngModel)]="form.fechaInicio" name="fechaInicio" presentation="date" required></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Detalles</ion-label>
        <ion-textarea [(ngModel)]="form.detalles" name="detalles"></ion-textarea>
      </ion-item>
    </ion-list>
    <ion-button expand="block" type="submit">Guardar Cambios</ion-button>
  </form>
</ion-content>
