.header-row {
    background-color: var(--ion-color-light);
    font-weight: bold;
  }
  
  ion-row {
    border-bottom: 1px solid var(--ion-color-medium);
    padding: 8px 0;
  }
  
  ion-searchbar {
    margin: 16px;
  }
  