<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goTo()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Gestión de Casos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="close" size="large" color="danger"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let caso of casos">
      <ion-label>
        <h2>{{ caso.numeroCaso }}</h2>
        <p>Cliente: {{ caso.nombreCliente }} - Caso: {{ caso.tipo }}</p>
        <p>Detalle: {{ caso.detalles }}</p>
      </ion-label>
      <ion-button fill="clear" color="primary" (click)="editCase(caso)">
        Editar
      </ion-button>
      <ion-button fill="clear" color="danger" (click)="deleteCase(caso._id)">
        Eliminar
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addCase()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    
  </ion-fab>
</ion-content>
